@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$background-color : #3898EC;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    
    .desktop-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;

        a img {
            width: 200px;
        }

        ul {
            li {
                display: inline-block;
                margin: 0 20px;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;

                a {
                    text-decoration: none;
                    color: white;
                    transition: all 0.1s;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                .mint-btn-nav {
                    cursor: not-allowed;
                    background-color: #036DCA;
                    padding: 10px 20px;
                    border-radius: 3px;
                }
            }
        }

        .toggle {
            z-index: 99;
            display: none;
            cursor: pointer;
            i {
                color: #036DCA;
                font-size: 25px;
                background-color: white;
                padding: 15px;
                border-radius: 3px;
            }
        }
    }
}

@media screen and (max-width:550px) {
    body {
        header {
            nav {
                padding-left: 5px !important;
                padding-right: 5px !important;
            }
        }

        .homepage {
            .title-home {
                width: 300px !important;
                top: 35% !important;
            }
        }
    }
}

@media screen and (max-width:940px) {
    body {
        .homepage {
            .title-home {
                width: 500px;
            }
            .soldier-solo {
                display: block !important;
            }
            .soldiers-home {
                display: none;
            }
        }
    }

    header {
        .desktop-menu {
            ul {
                display: none;
            }

            .toggle {
                display: block;
                
                .ouvrir {
                    display: block;
                }

                .fermer {
                    display: none;
                }
            }
        }
    }

    .open .ouvrir {
        display: none !important;
    }

    .open .fermer {
        display: block !important;
    }

    .open .mobile-menu {
        transform: translateX(0) !important;
    }
}

body {
    .homepage {
        background-color: $background-color;
        position: relative;
        height: 100vh;
        overflow-x: hidden;

        .title-home {
            position: absolute;
            width: 700px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 0;
        }

        .soldiers-home {
            width: 90%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 0;
        }
        
        .soldier-solo {
            display: none;
            width: 90%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 0;
        }

        .mobile-menu {
            background-color: rgb(20, 24, 38);
            height: 100%;
            max-width: auto;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            transform: translateX(100%);
            transition: all 0.4s;
            
            ul {
                padding: 100px 80px 0 25px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                li {
                    display: inline-block;
                    font-family: 'Poppins', sans-serif;
                    text-transform: uppercase;
                    font-size: 20px;

                    a {
                        text-decoration: none;
                        color: white;
                        transition: all 0.1s;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }

                .mint-btn-nav {
                    cursor: not-allowed;
                    background-color: #036DCA;
                    padding: 10px 20px;
                    border-radius: 3px;
                    display: inline-block;
                }

                div {
                    display: flex;
                    margin-top: 50px;
                    justify-content: flex-start;
                    gap: 20px;
                }
            }
        }
    }
}