@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
header .desktop-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}
header .desktop-menu a img {
  width: 200px;
}
header .desktop-menu ul li {
  display: inline-block;
  margin: 0 20px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
header .desktop-menu ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.1s;
}
header .desktop-menu ul li a:hover {
  opacity: 0.8;
}
header .desktop-menu ul li .mint-btn-nav {
  cursor: not-allowed;
  background-color: #036DCA;
  padding: 10px 20px;
  border-radius: 3px;
}
header .desktop-menu .toggle {
  display: none;
  cursor: pointer;
}
header .desktop-menu .toggle i {
  color: #036DCA;
  font-size: 25px;
  background-color: white;
  padding: 15px;
  border-radius: 3px;
}

@media screen and (max-width: 940px) {
  body .homepage .title-home {
    width: 300px !important;
  }

  header .desktop-menu ul {
    display: none;
  }
  header .desktop-menu .toggle {
    display: block;
  }
  header .desktop-menu .toggle .ouvrir {
    display: block;
  }
  header .desktop-menu .toggle .fermer {
    display: none;
  }

  .open .ouvrir {
    display: none !important;
  }

  .open .fermer {
    display: block !important;
  }

  .open .mobile-menu {
    transform: translateX(0) !important;
  }
}
body .homepage {
  background-color: #3898EC;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}
body .homepage .title-home {
  position: absolute;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
body .homepage .soldiers-home {
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
body .homepage .mobile-menu {
  background-color: #141826;
  height: 100%;
  max-width: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: translateX(100%);
  transition: all 0.4s;
}
body .homepage .mobile-menu ul {
  padding: 100px 80px 0 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .homepage .mobile-menu ul li {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}
body .homepage .mobile-menu ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.1s;
}
body .homepage .mobile-menu ul li a:hover {
  opacity: 0.8;
}
body .homepage .mobile-menu ul .mint-btn-nav {
  cursor: not-allowed;
  background-color: #036DCA;
  padding: 10px 20px;
  border-radius: 3px;
  display: inline-block;
}
body .homepage .mobile-menu ul div {
  display: flex;
  margin-top: 50px;
  justify-content: flex-start;
  gap: 20px;
}

/*# sourceMappingURL=style.css.map */
